<br />
    <form class="form-horizontal" name="deviceListForm" role="form">
        <div class="container">
            <div>
                <h1 style="text-align: center;">Agregar Nuevo Dispositivo</h1>
                <br />
                <div class="row" style="text-align: center;">
                    <div class="col-lg-2" style="background-color: lavender; 
                        text-align: center;">
                        <div class="input-group">
                            <span class="input-group-addon"> 
                                <label class="control-label">Nombre: </label> 
                                <input class="form-control" type="text"  
                                    ng-model="name" />
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2" style="background-color: lavender; 
                        text-align: center;">
                        <div class="input-group">
                            <span class="input-group-addon"> 
                                <label class="control-label">Memoria RAM: </label> 
                                <input class="form-control" type="text" 
                                    ng-model="memoryRAM" />
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2" style="background-color: lavender; 
                        text-align: center;">
                        <div class="input-group">
                            <span class="input-group-addon"> 
                                <label class="control-label">Procesador: </label> 
                                <input class="form-control" type="text" 
                                    ng-model="processor" />
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2" style="background-color: lavender; 
                        text-align: center;">
                        <div class="input-group">
                            <span class="input-group-addon"> 
                                <label class="control-label">Memoria Interna: </label> 
                                <input class="form-control" type="text"
                                    ng-model="internMemory" />
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2" style="background-color: lavender; 
                        text-align: center;">
                        <div class="input-group">
                            <span class="input-group-addon"> 
                                <label class="control-label">A&ntilde;o: </label> 
                                <input class="form-control" type="number" 
                                    ng-model="year" />
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2" style="background-color: lavender; 
                        text-align: center;">
                        <div class="input-group">
                            <span class="input-group-addon"> 
                                <label class="control-label">Precio: </label> 
                                <input class="form-control" type="number" 
                                ng-model="price" />
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-success" type="button" 
                            ng-click="addNewDevice()">
                        <span class="glyphicon glyphicon-save"></span> Agregar un
                         Dispositivo
                    </button>
                </div>
            </div>
            <br/>
            <div>
                <spacer type="block" width="50" />
                <h1 style="text-align: center;">Lista de Dispositivos</h1>
                <br />
                <label class="control-label">B&uacute;squeda global:</label> 
                <input class="form-control" type="text" ng-model="searchText">
                <table class="table table-striped" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">ID</th>
                            <th style="text-align: center;">Nombre</th>
                            <th style="text-align: center;">Memoria RAM</th>
                            <th style="text-align: center;">Procesador</th>
                            <th style="text-align: center;">Memoria Interna</th>
                            <th style="text-align: center;">A&ntilde;o</th>
                            <th style="text-align: center;">Precio</th>
                            <th style="text-align: center;">Imagen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="device in rowCollection | filter:searchText">
                            <td>{{device.id}}</td>
                            <td>{{device.name}}</td>
                            <td>{{device.memoryRAM}}</td>
                            <td>{{device.processor}}</td>
                            <td>{{device.internMemory}}</td>
                            <td>{{device.year}}</td>
                            <td>{{device.price}}</td>
                            <td><img src="./resources/images/smartphone.jpg" width="40px"
                                height="40px"></img></td>
                            <td><button  class="btn btn-success" type="button"
                                    ng-click="removeDevice(device)">
                                    <span class="glyphicon glyphicon-remove"></span> 
                                    Eliminar
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>